*{
    background-color: black;
}

.container, .a{
    width: 70%;
    height: 500px;
    display: flex;
    justify-content: space-between;
    gap: 10;
}
 img{
    width: 9%;
    height: 100%;
    object-fit: cover;
    border-radius: 12px;
    border: 2px solid rgb(180, 52, 52);
    transition: all ease-in-out 0.5s;
}
.active , img:hover{
    width: 25%;
}
h1{
    margin-left: 48% ;
    justify-content: center;
    color: rgb(208, 208, 208);
}
h3{
    margin-left: 42%;
    color: rgb(219, 216, 216);
}